<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <ul class="navbar-nav mr-auto">
      <!--      Using the ng container, we can wrap the list of links we do not want to show anonymous users and then inside this same <ul></ul> we can still add links outside d ng-container but inside d same ul dt will not have the condition-->
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
      <!--      ds link will show to anonymous user even though its inside d same <ul></ul> but bcos its not inside d ng-container dt contained the structural directive-->
      <li class="nav-item">
        <a class="nav-link" routerLink="#" routerLinkActive="active">Help</a>
      </li>
      <!--      ds link goes to our errors component showing the 5 different error buttons-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>
    <!--    we show ds only when user is logged in-->
    <!-- assign a variable to  d observable 'accountService.currentUser$ | async ' and inside ds template now we can use d defined variable to access some properties of user  -->
    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <!--      using the defined 'user' var to pick the username and convert it to uppercase with angular pipe-->
      <a class="dropdown-toggle text-light" dropdownToggle
        >Welcome {{ user.username | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!--    we create a template var for our form and bind it to ngForm so we have access to the ngSubmit event-->
    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <!--      we create a property inside our model object with the name 'username-->
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
      />
      <!--      we create a property inside our model object with the name password-->
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
